.container {
  display: flex;
  justify-content: space-between;
}
.container img {
  width: 30vw;
  height: 100vh;
  padding: 5rem 0 0 0;
  object-fit: cover;
}

.list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  justify-content: center;
  width: 33vw;
}
.list p {
  display: flex;
  gap: 1rem;
  margin: 0;
  align-items: flex-start;
  padding: 20px 0;
  justify-content: flex-start;

  border-bottom: 2px solid #493652;
}

.list svg {
  flex-shrink: 0;
  width: 39px;
  height: 37px;
  margin-top: 4px;
}
.list span {
  margin-top: 8px;
}
.button2 {
  width: 90vw;
  height: 6vh;
  margin-top: 40px;
  border-radius: 15px;
}

/* Адаптивность */
@media (min-width: 768px) {
  .list {
    width: 33vw;
  }
}

@media (max-width: 767px) {
  .container {
    flex-direction: column;
    padding: 1rem;
  }

  .list {
    width: 100%;
  }

  .container img {
    width: 100%;
    height: auto;
  }
}
